@import "~@style/click.scss";
@import "~@style/media.scss";

$bg-img: "//bing.img.run/uhd.php";

.page {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url($bg-img);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        top: 0;
        left: 0;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        filter: blur(0.125rem);
        transform: translateZ(-1px);
        background-image: url($bg-img);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    @include mobile {
        &,&::before {
            background-size: cover;
        }
    }

    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(0.25rem);
    }

    .container {
        display: flex;
        // width: 28.125rem;
        position: relative;
        padding: 3.75rem 4.25rem 2.5rem 4.25rem;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        flex-shrink: 0;
        border-radius: 0.25rem;
        background: rgba(0, 0, 0, 0.75);
        color: white;

        .tool {
            @include clickable;
            position: absolute;
            right: 2%;
            bottom: 2%;
            padding: 0;
        }

        @include mobile {
            padding: 0.75rem;
        } 
    }

    .title {
        color: #FFF;
        font-family: dm, AritaHeiti;
        font-size: 1.9375rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 0;
        margin-bottom: .8125rem;
        margin-left: 0;
    }

    .input {
        margin-top: 1rem;
        width: 19.625rem;
        height: 3.125rem;
        flex-shrink: 0;
    }

    .input > label {
        color: #8c8c8c;
        font-family: dm, AritaHeiti;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }


    .input > div {
        border-radius: 0.25rem;
        background: #333;
        display: flex;
        width: 19.625rem;
        height: 3.125rem;
        padding-top: 1rem;
        padding-bottom: 1.25rem;
        align-items: center;
        flex-shrink: 0;

        input {
            color: white;
        }
    }

    .items {
        width: 19.625rem;
        font-family: dm, AritaHeiti;
    }

    .login {
        $bgcolor: #E50914; 
        margin-top: 1rem;
        display: inline-flex;
        width: 19.625rem;
        align-items: flex-start;
        padding-top: 0.94rem;
        padding-bottom: 1.06rem;
        justify-content: center;
        border-radius: 0.25rem;
        background: $bgcolor;
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.55);

        text-transform: none;
        color: #FFF;
        text-align: center;
        font-family: dm, AritaHeiti;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1rem; /* 106.667% */

        &:hover {
            background-color: $bgcolor,
          }

        &:active {
            background-color: $bgcolor,
        }
    }

    .remember-me {
        margin: 0;
        padding-left: 0;

        svg {
            width: 1rem;
            height: 1rem;
            flex-shrink: 0;
            border-radius: 0.125rem;
            background: #737373;
        }
    }
}