@import "~@style/click.scss";
@import "~@style/media.scss";

$bg-img: "//source.unsplash.com/random";

.page {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url($bg-img);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        top: 0;
        left: 0;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        filter: blur(0.125rem);
        transform: translateZ(-1px);
        background-image: url($bg-img);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    @include mobile {
        &,&::before {
            background-size: cover;
        }
    }

    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(0.25rem);
    }

    .container {
        display: flex;
        // width: 28.125rem;
        position: relative;
        padding: 3.75rem 4.25rem 2.5rem 4.25rem;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        flex-shrink: 0;
        border-radius: 0.25rem;
        background: rgba(0, 0, 0, 0.75);
        color: white;

        .tool {
            @include clickable;
            position: absolute;
            right: 2%;
            bottom: 2%;
            padding: 0;
        }

        @include mobile {
            padding: 0.75rem;
        } 
    }

    .title {
        color: #FFF;
        font-family: dm, AritaHeiti;
        font-size: 1.9375rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 0;
        margin-bottom: .8125rem;
        margin-left: 0;
    }

    .input {
        width: 19.625rem;
        height: 3.125rem;
        flex-shrink: 0;
        background-color: #333;
        color: white;

        &::placeholder {
            color: white;
        }
    }

    .input > label {
        color: #8c8c8c;
        font-family: dm, AritaHeiti;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }


    .input > div {
        border-radius: 0.25rem;
        background: #333;
        display: flex;
        width: 19.625rem;
        height: 3.125rem;
        padding-top: 1rem;
        padding-bottom: 1.25rem;
        align-items: center;
        flex-shrink: 0;

        input {
            color: white;
        }
    }

    .items {
        width: 19.625rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: dm, AritaHeiti;
    }

    .login {
        $bgcolor: #E50914; 
        margin-top: 1rem;
        margin-bottom: 0.25rem;
        display: inline-flex;
        cursor: pointer;
        width: 19.625rem;
        height: fit-content;
        align-items: center;
        justify-content: center;
        padding-top: 0.84rem;
        padding-bottom: 0.92rem;
        border-radius: 0.25rem;
        background: $bgcolor;
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.55);

        text-transform: none;
        color: #FFF;
        text-align: center;
        font-family: dm, AritaHeiti;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 500;
        // line-height: 1rem; /* 106.667% */

        &:hover {
            background-color: $bgcolor,
          }

        &:active {
            background-color: $bgcolor,
        }
    }

    .user > div {
        margin-top: 1rem;
        border-radius: 5px;
        border: 1px solid transparent;
        overflow: hidden;
    }

    .remember-me {
        margin-right: 0.75rem;
        --gray-a7: transparent;
        --color-surface: #737373;
        --accent-9: white;
        --accent-9-contrast: #737373;

        button {
            background-color: #737373;
            overflow: hidden;

            span {
                width: 75%;
                height: 75%;
                border-radius: 2px;
                background-color: white;
            }
        }

        svg {
            width: 85%;
            height: 85%;
            flex-shrink: 0;
            border-radius: 0.125rem;
            color: #737373;
        }
    }
}