.page {
    background-color: black;
    color: white;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;

    .title {
        font-size: 1.5rem;
        padding: 0.25rem 1rem;
    }
}


.no-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }
}