@import "~@style/media.scss";

.page {
    background-color: black;
    color: white;
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;

    .albumTitle, .title {
        font-size: 1.5rem;
        padding: 0.25rem 1rem;
        @include mobile {
            font-size: 1rem;
        }
    }

    .playlist {
        width: 100%;
    }

    .albums {
        flex-wrap: wrap;
        align-items: center;
        align-content: flex-start;
        justify-content: space-around;

        @include mobile {
            flex-wrap: nowrap;
            justify-content: flex-start;
        }
    }

    .mediaCard {
        width: 9rem;
        @include mobile {
            width: 25vw;
        }
    }
}

.navigator {
    min-height: 82px;
}

.header {
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
    @include mobile {
        position: relative;
    }
}

.banner {
    width: 100%;
    height: 100vh;
}


.no-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }
}

@include mobile {
    .banner {
        height: calc(100vw * 0.6);
    }
}