@import "~@style/media.scss";

.page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(0.25rem);

    @include mobile {
        backdrop-filter: blur(0.5rem);
    }
}