@import "~@style/dialog.scss";
@import "~@style/media.scss";

.main { 
    display: flex;
    padding-top: 0.25rem;
    .item {
        margin-left: 1rem;
        margin-right: 1rem;
        &>p {
            margin-right: 1rem;
        }

        &>div {
            margin-left: 0;
        }
    }
    .input {
        width: 15rem;
        margin: 0;
    }

    @include mobile {
        .item {
            margin-left: 0.25rem;
            margin-right: 0.25rem;
            &>p {
                margin-right: 0.25rem;
            }

            &>div {
                margin-left: 0;
            }
        }

        .input {
            width: 15rem;
        }
    }
}

.dialog {
    @include dialog;

    @include mobile {
        padding: 0rem;
        backdrop-filter: none;

        div[role="dialog"] {
            padding: 0;
            margin: 0;

            &>div {
                padding: 0.25rem;
            }
        }
    }
}