@font-face {
    font-family: LXGWWenKai;
    src: local("LXGWWenKai"),
        local("LXGWWenKaiLite"),
        url('./LXGWWenKaiLite-Regular.ttf');
    unicode-range: U+4E00-9FFF;
    font-weight: 300;
    font-style: normal;
}