.header {
    display: inline-flex;
    flex-direction: row;
    padding: 1.5625rem 3.75rem;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    .left {
        flex-grow: 1;

        &>span {
            font-size: 1.125rem;
            font-style: normal;
            line-height: normal;
            padding: 0 1.25rem;
        }
    }

    .right {
        flex-shrink: 0;
    }

    .logo {
        margin-right: .75rem;
        width: 1.75rem;
    }

    .avator {
        width: 2rem;
        height: 2rem;

        border-radius: 0.25rem;
        background: var(--white-30-opacity, rgba(255, 255, 255, 0.30));
        box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.10);
    }
}