@import "~@style/media.scss";

.header {
    display: inline-flex;
    flex-direction: row;
    padding: 1.5625rem 3.75rem;

    @include mobile {
        padding: 0.75rem 1.5rem;
    }
    box-sizing: border-box;
    width: 100%;
    font-weight: 300;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    backdrop-filter: blur(0.025rem);

    .left {
        flex-grow: 1;

        &>span {
            font-size: 1.125rem;
            font-style: normal;
            line-height: normal;
            padding: 0 1.25rem;

            @include mobile {
                font-size: 0.95rem;
                padding: 0 0.75rem;
            }
        }
    }

    .right {
        flex-shrink: 0;
        display: flex;
        align-items: center;
    }

    .logo {
        margin-right: .75rem;
        width: 1.75rem;
    }

    .icon {
        width: 1.25rem;
        margin: auto 1rem;
        // margin-right: 0.25rem;
    }

    .avator {
        width: 2rem;
        height: 2rem;

        border-radius: 0.25rem;
        background: var(--white-30-opacity, rgba(255, 255, 255, 0.30));
        box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.10);
    }
}