.page {
    width: 100vw;
    padding-bottom: 1rem;

    &>h1 {
        text-align: center;
    }

    &>.search {
        width: 100%;
        margin-bottom: 1rem;
    }

    &>.searchResult {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &>.selectPage {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
    }
}