@import "~@style/media.scss";

.page {
    width: 100vw;
    padding-bottom: 1rem;
    color: whitesmoke;

    &>h1 {
        text-align: center;
    }

    &>.search {
        width: 100%;
        margin-bottom: 1rem;
    }

    &>.searchResult {
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 80%;
        @include mobile {
            max-width: 95%;
        }
        &>div {
            width: 100%;
            @include mobile {
                width: unset;
            }
            max-width: unset;
        }
    }

    &>.selectPage {
        display: flex;
        width: fit-content;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
        padding: 0.25rem;
        border-radius: 2px;
        background-color: #f9f1fe99;
    }
}