@import "~@style/media.scss";

.root {
    max-width: 80%;
    padding: .25rem;
    display: flex;
    border: 1px solid #fff;
    margin: .5rem;
    border-radius: 8px;
    align-items: center;
    flex-direction: row;

    @include mobile {
        flex-direction: column;
        max-width: 95%;
        margin: .5rem auto;
    }

    &>img {
        max-width: 20rem;
        @include mobile {
            max-width: 95%;
        }
    }

    &>section {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}