@import "~@style/click.scss";

.root {
    display: flex;
    margin: 0.25rem;
    @include clickable;

    img {
        max-width: 16rem;
        margin: 0.25rem 0.5rem;
        border-radius: 0.25rem;
    }

    span {
        margin: 0.25rem 0.75rem;
    }

    article {
        margin-top: 0.5rem;
        color: #ffffff99;
        font-size: 13px;
    }
}