@import "~@style/media.scss";

.root {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 0.25rem;

    &>img,&>.preview {
        width: 256px;
        margin: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        flex-grow: 0;
        flex-shrink: 0;
    }

    &>span {
        margin: 0.25rem 0.75rem;
    }

    .overview {
        margin-top: 0.5rem;
        color: #ffffff99;
        font-size: 13px;
    }

    .action {
        display: flex;
        align-items: center;
        padding: 1rem;
        img {
            margin: 0.25rem 0.5rem;
        }
    }

    .players {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .source-select {
        margin-left: 1rem;
        margin-right: 1rem;
        display: inline-flex;
        align-items: center;
        font-size: 0.75rem;
        user-select: none;
    }

    @include mobile {
        &>img, &>.preview {
            display: inline-block;
            width: 45%;
            flex-grow: 0;
            flex-shrink: 1;
            aspect-ratio: 16/9;
            min-height: unset;
        }
        .text {
            width: 0;
            flex-shrink: 0;
            flex-grow: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .title {
            padding-left: 1rem;
        }
        .action {
            flex-direction: column;
            padding-top: 0.75rem;
        }

        .overview {
            display: none;
        }
    }
}

.mobileOverview {
    display: none;
}

@include mobile {
    .mobileOverview {
        display: unset;
        font-size: 12px;
        color: #ffffff99;
    }
}

.card {
    margin-bottom: 1.35rem;
}