.player {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    img {
        width: 1.75rem;
        height: 1.75rem;
    }
}

.external-player {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}