.root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &>div {
        display: inline-block;
        max-width: 20rem;
    }
    &>button {
        display: inline-block;
        margin-left: 1rem;
    }
}