.page {
    // background: linear-gradient(77deg,rgba(0,0,0,.84) 0,rgba(0,0,0,.7) 60%,rgba(0,0,0,.4) 100%);
    color: white;
    min-height: 100vh;

    &>.title {
        margin-left: 1rem;
    }

    .content {
        text-align: center;
        color: #e9e9e9;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}