@import "~@style/media.scss";

.page {
    color: white;
    width: 100vw;
    height: 100vh;
    text-align: center;

    &>.title {
        margin-left: 1rem;
    }

    .content {
        width: 98%;
        box-sizing: border-box;
        text-align: center;
        color: #e9e9e9;
        display: grid;
        grid-template-columns: repeat(auto-fill, 9rem);
        grid-gap: 10px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0.5rem 0.25rem;
    }

    .pageSelector {
        margin: 1rem auto;
        padding: 0.25rem;
        border-radius: 2px;
        background-color: #f9f1fe99;

        :global .ant-pagination-item-active {
            overflow: hidden;
            &, &>a {
                background-color: #efe7ef;
            }
        }
    }
}