@import "~@style/font/font.scss";
@import "~@style/scrollbar.scss";

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: LXGWWenKai;
    background-color: transparent;
    @include scrollbar;
}

:global #root {
    width: 100%;
    min-height: 100%;
}