@import "~@style/font/font.scss";
@import "~@style/scrollbar.scss";

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    // height: 100vh;
    font-family: LXGWWenKai;
    background-color: black !important;
    @include scrollbar;

    div:focus {
        outline: 3px solid blueviolet; // 设置轮廓宽度和颜色
        border-radius: 4px;
    }
}

:global #root {
    width: 100%;
    min-height: 100%;
}