@import "~@style/media.scss";

.people {
    margin: 0.25rem;
    flex-shrink: 0;
    width: 5rem;

    img {
        border: 1px solid transparent;
        border-radius: 0.5rem;
    }

    span {
        display: block;
        font-size: 0.75rem;
    }

    @include mobile {
        width: 22vw;
    }
}